<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Update existing ToDo Item</title>
    <script>
        // Format date for submission (ZonedDateTime)
        // This script is necessary as not using it will casue a SpelParseException: Expression [#temporals.format(todo.createdAt, 'yyyy-MM-dd\'T\'HH:mm:ssXXX')] @48: EL1065E: Unexpected escape character
        const createdAt = document.getElementById('createdAt');
        function formatDateForSubmission(dateString) {
            const date = new Date(dateString);
            return date.toISOString();
        }

        document.getElementById('todoForm').onsubmit = function() {
            document.getElementById('createdAtInput').value = formatDateForSubmission(createdAt);
        };
    </script>
</head>
<body>
<div th:replace="~{sidebars}"></div>
<div class="container mt-4">
    <h2 class="mb-3">Update existing Project</h2>
    <form class="form-horizontal" th:object="${todo}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">Id:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:field="*{id}" id="id" th:value="*{id}" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Title:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:field="*{title}" id="title" th:value="*{title}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="description">Description:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:field="*{description}" id="description" th:value="*{description}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
                <small class="form-text text-muted" th:if="${#fields.hasGlobalErrors()}">Error found in input.</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="createdAt">Created at:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:field="*{createdAt}" id="createdAt" th:value="*{createdAt}" disabled/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </div>
        <small class="form-text text-muted" th:if="${#fields.hasGlobalErrors()}">Error found in input.</small>
        <input type="hidden" name="id" th:value="*{id}">
    </form>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a th:href="@{|/todos/all/users/${todo.owner.id}|}" class="btn btn-outline-primary">Go to Project List</a>
        </div>
    </div>
</div>
<div th:replace="~{footer}"></div>
</body>
</html>