<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container mt-4">
    <h2 class="mb-3">Update Existing User</h2>
    <form class="form-horizontal" method="post" th:action="@{|/users/${user.id}/update|}" th:object="${user}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">ID:</label>
            <div class="col-sm-8">
                <input class="form-control" disabled id="id" type="text" th:field="*{id}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="first-name">First name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="first-name" th:field="*{firstName}" type="text"/>
                <div th:if="${param.badFirstName}" class="text-danger">
                    Your first name must contain letters only and have minimum of 3 characters and a maximum of 255 characters.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="last-name">Last name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="last-name" th:field="*{lastName}" type="text"/>
                <div th:if="${param.badLastName}" class="text-danger">
                    Your last name must contain letters only and have a maximum of 255 characters.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="email">E-mail:</label>
            <div class="col-sm-8">
                <input class="form-control" id="email" th:field="*{email}" type="email"/>
                <div th:if="${param.badEmail}" class="text-danger">
                    Please use a valid email.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="old-password">Old Password:</label>
            <div class="col-sm-8">
                <input class="form-control" id="old-password" name="oldPassword" required type="password"/>
                <div th:if="${param.incorrectOldPassword}" class="text-danger">Incorrect old password.</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="new-password">New Password:</label>
            <div class="col-sm-8">
                <input class="form-control" id="new-password" required th:field="*{password}" type="password"/>
                <div th:if="${param.weakNewPassword}" class="text-danger">New password is too weak.</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="role">Role:</label>
            <div class="col-sm-8">
                <select class="form-control" id="role" name="roleId">
                    <option th:each="role : ${roles}"
                            th:if="${role.id == user.role.id}"
                            th:selected="${true}"
                            th:text="${role.name.substring(0, 1) + role.name.substring(1).toLowerCase()}"
                            th:value="${role.id}"/>
                    <option th:each="role : ${roles}"
                            th:unless="${role.id == user.role.id}"
                            th:text="${role.name.substring(0, 1) + role.name.substring(1).toLowerCase()}"
                            th:value="${role.id}"/>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </div>
        <div th:if="${param.error}" class="error-message text-danger">Failed to update user credentials. Please try again.</div>
        <input name="id" th:value="*{id}" type="hidden"/>
    </form>
</div>
</body>
</html>