<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>List of Users</title>
    <style>
        .role-box {
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
        }

        .admin {
            background-color: #FFCCCB;
            color: red;
        }

        .user {
            background-color: #90EE90;
            color: green;
        }
    </style>
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container mt-4">
    <h2 class="mb-3">List of Users</h2>
    <div class="row mb-3">
        <div class="col-md-12 text-right">
            <a th:href="@{/users/create}" class="btn btn-primary btn-lg" sec:authorize="hasAuthority('ADMIN')" >Create New User</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Id</th>
            <th scope="col">Full name</th>
            <th sec:authorize="hasAuthority('ADMIN')" scope="col">E-mail</th>
            <th scope="col">Role</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iStat: ${users}">
            <th scope="row" th:text="${iStat.index + 1}"/>
            <td th:text="${user.id}"/>
            <td>
                <span sec:authorize="hasAuthority('ADMIN') or #authentication.principal.id == #vars.user.id">
                    <a th:href="@{|/users/${user.id}/read|}" th:text="${user.firstName + ' ' + user.lastName}"/>
                </span>
                <span sec:authorize="!((hasAuthority('ADMIN') or #authentication.principal.id == #vars.user.id))">
                    <span th:text="${user.firstName + ' ' + user.lastName}"/>
                </span>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')" th:text="${user.email}"/>
            <td th:class="'role-box ' + ${user.role.name.toLowerCase()}" th:text="${user.role.name.substring(0, 1) + user.role.name.substring(1).toLowerCase()}"/>
            <td>
                <a sec:authorize="hasAuthority('ADMIN') or #authentication.principal.id == #vars.user.id" th:href="@{|/users/${user.id}/update|}" class="btn btn-warning btn-sm">Edit User</a>
            </td>
            <td>
                <a sec:authorize="hasAuthority('ADMIN') and #authentication.principal.id != #vars.user.id" th:href="@{|/users/${user.id}/delete|}" class="btn btn-danger btn-sm">Remove User</a>
            </td>
        </tr>
        <tr th:if="${badDeleteUserId != null}">
            <div th:class="'alert alert-danger mt-2'" role="alert">
                This user cannot be deleted due to existing collaborations with other users.
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>